<template>
    <div class="card">
        <div class="card__logo">
            <img src="~/assets/content.jpg" alt="">
        </div>
        <div class="card__wrapper-info">
            <div class="card__number-card">{{ values }}</div>
            <div class="card__surname">{{ values }}</div>
<!--            <div class="card__name">{{ values.name }}</div>-->
<!--            <div class="card__year">{{ values.year }}</div>-->
<!--            <div class="card__month">{{ values.month }}</div>-->
        </div>
    </div>
</template>

<script>
    export default {
        props: ['values'],
        name: "card"
    }
</script>

<style scoped lang="scss">
    .card {
        border: 2px solid #eeeeee;
        border-radius: 5px;
        padding: 10px;
        max-width: 350px;
        margin: 0 auto 0 0;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        height: 210px;
        overflow: hidden;

        &__surname {
            bottom: 0;
            background-color: white;
            height: 20px;
            position: absolute;
            width: 50%;
            padding: 5px;
        }

        &__logo {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            img {
                max-width: 100%;
            }
        }

        &__wrapper-info {
            width: 100%;
            position: relative;
        }

        &__number-card {
            position: absolute;
            bottom: 28%;
            background-color: white;
            width: calc(100% - 5px);
            z-index: 1;
            height: 20px;
            padding: 5px;
        }
    }
</style>