<template>
  <form class="form">
    <div class="form__group">
      <label for="number-card" class="form__group-label">Номер карты</label>
      <input type="number" id="number-card" class="form__group-input" maxlength="16" v-model=number @change="getValue">
    </div>

    <div class="form__group">
      <label for="surname" class="form__group-label">Фамилия</label>
      <input type="text" id="surname" class="form__group-input" v-model=surname @change="getValue">
    </div>

    <div class="form__group">
      <label for="name" class="form__group-label">Имя</label>
      <input type="text" id="name" class="form__group-input" v-model=name @change="getValue">
    </div>

    <div class="form__group">
      <label for="year" class="form__group-label">Год</label>
      <input type="number" id="year" class="form__group-input" maxlength="4" v-model=year @change="getValue">
    </div>

    <div class="form__group">
      <label for="month" class="form__group-label">Месяц</label>
      <input type="number" id="month" class="form__group-input" maxlength="2" v-model=month @change="getValue">
    </div>

  </form>
</template>

<script>
  export default {
    name: "formCard",
    data() {
      return {
          number: '',
          surname: '',
          name: '',
          year: '',
          month: ''
      }
    },
    methods: {
      getValue(e) {
        this.$emit('value', e.target.getAttribute('id'), e.target.value )
      }
    }
  }
</script>

<style lang="scss" scoped>
  .form {
    max-width: 300px;
    margin: 20px auto 0 0;

    &__group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    &__group-label {
      font-size: 14px;
      color: black;
      margin-bottom: 5px;
    }

    &__group-input {
      height: 25px;
      padding-left: 10px;
    }
  }
</style>

