<template>
  <section class="container">
    <div>
      <Card :values=data />
      <Form @value="saveData"/>
    </div>
  </section>
</template>

<script>
import Form from '~/components/form.vue'
import Card from '~/components/card.vue'

export default {
  components: {
    Form,
    Card
  },
  data() {
    return {
      data: {}
    }
  },
  methods: {
    saveData(name, value) {
      this.data[name] = value;
    }
  }
}
</script>

<style lang="scss" scoped>
  .container {
    max-width: 650px;
    margin: 30px auto 0;
  }
</style>

